:root{
    --cor-hover: #fff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, ol, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.menu{
    background-color: black;
    color: white;
    display: flex;
    justify-content: end;
    gap: 16px;
    padding: 16px;
}

.menu a{
    padding: 8px;
    transition: 0.5s;
}

.menu a :hover{
    background-color: var(--cor-hover);
}

.menu img{
    height: 40px;
}
.card1{
    width: 18vw;
    height: 45vh;
    background-color: aquamarine;
    border-radius: 1vw;
    margin-left: 2vw;

}

.conteudos{
    display: flex;
} 